/*ul.list li a{
	background-image: url(http://placekitten.com/400/200);
	height: 150px;
}*/

/* Lists SIZE OVERRIDE
-------------------------------------------------- */

/* Remove usual bullet styles from list */
.list {
  margin-bottom: 10px;
  list-style: none;
  background-color: #fff;
}

/* Pad each list item and add dividers */
.cities-list li {
  position: relative;
  padding: 7px 60px 72px 10px; /* Given extra right padding to accomodate counts, chevrons or buttons */
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

/* Give top border to first list items */
.cities-list li:first-child {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* If a list of links, make sure the child <a> takes up full list item tap area (want to avoid selecting child buttons though) */
.cities-list li > a:not([class*="button"]) {
  position: relative;
  display: block;
  padding: inherit;
  margin: -8px -60px -72px -10px;
  color: inherit;
}

/* Lists STYLE OVERRIDE
-------------------------------------------------- */

/* Heading style and gradient */
.cities-list li > a {
	font-weight: bold;
	font-size: 24px;
	/* Gradient */
	/*background: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	/* Solid */
	/*background: rgba(255,255,255,0.6);*/
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.6) 65%,rgba(255,255,255,0.4) 100%); /* Chrome10+,Safari5.1+ */
	color: red; /*TODO: Figure out how to change the color*/
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-bottom: solid 1px #999;
}

/* Background image for cities */
.cities-list li {
	/*background-image: url('http://placehold.it/320x105');*/
	/*background-image: url('http://placekitten.com/320/110');*/
	border-bottom: solid 1px #999;
	background-size: 100%;
}

/* Test actual image for cities */
.cities-list li.boston {
	background-image: url('bos-low.png');
	background-size: 100%;
	background-position: center;
}

.citieslist li.nyc {
	background-image: url('nyc.png');
	background-size: 100%;
	background-position: center;
}

.citieslist li.fiji {
	background-image: url('fiji.png');
	background-size: 100%;
	background-position: center;
}

/* Row of profile photos */
.face-row {
	width: 320px;
	position: absolute;
	margin-top: 6px
}

.face-row img {
	padding: 2px;
	background: -webkit-linear-gradient(top, rgba(255,253,249,1) 0%,rgba(255,251,239,1) 100%); /* Chrome10+,Safari5.1+ */
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

/* Sliders STYLE OVERRIDE
-------------------------------------------------- */
.slider {
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}